<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="runtime.osx.10.10-x64.CoreCompat.System.Drawing" version="5.8.64" targetFramework="net472" />
  <package id="ScottPlot" version="4.0.13" targetFramework="net472" />
  <package id="ScottPlot.WinForms" version="4.0.13" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
</packages>