@page "/"
@using ScottPlot;
@using ScottPlot.Blazor;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment

<h1>ScottPlot in Blazor</h1>

<BlazorPlot @ref="BlazorPlot" Style="width: 100%; height: 600px;" />

<div class="mt-5 text-muted text-center">
    @ScottPlot.Version.LongString Running on .NET @Environment.Version
</div>

@code {
    BlazorPlot BlazorPlot = new();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            BlazorPlot.Plot.Add.Signal(ScottPlot.Generate.Sin());
            BlazorPlot.Plot.Add.Signal(ScottPlot.Generate.Cos());
            BlazorPlot.Refresh();
        }

        base.OnAfterRender(firstRender);
    }
}

