@inherits LayoutComponentBase

<style>
    .parent {
        display: grid;
        grid-template: 1fr / auto 1fr;
    }

    nav {
        grid-column: 1 / 2;
        background-color: #67217a;
        color: white;
    }

    main {
        grid-column: 2 / 3;
    }
</style>

<div class="parent">
    <nav><NavMenu /></nav>
    <main>@Body</main>
</div>
