<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link fs-5" href="/">
            Quickstart
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link fs-5" href="signal">
            Signal Plot
        </NavLink>
    </li>
</ul>

@code {
}
