@using ScottPlotCookbook;

<style>
    .menulink a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        padding: .3em;
    }

        .menulink a:hover {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            background-color: #9a4993;
            opacity: 1;
        }
</style>

<div class="menulink">
    <NavLink href="/">
        Quickstart
    </NavLink>
</div>

<div class="menulink">
    <NavLink href="signal">
        Signal Plot
    </NavLink>
</div>

@foreach (ICategory category in RecipesByCategory.Keys)
{
    <div class="fs-4 p-2" style="opacity: .5">
        @category.CategoryName
    </div>

    @foreach (IRecipe recipe in RecipesByCategory[category])
    {
        <div class="menulink">
            <a href=@("/recipe/" + recipe.Name) style="font-size: 1em; padding-left: 1em;">@recipe.Name</a>
        </div>
    }
}

@code {
    readonly Dictionary<ICategory, IEnumerable<IRecipe>> RecipesByCategory = ScottPlotCookbook.Query.GetRecipesByCategory();
}
