<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.1.0" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net45" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net45" />
  <package id="SkiaSharp.Views" version="1.68.0" targetFramework="net45" />
</packages>