@using SkiaSharp.Views.Blazor;
@using SkiaSharp;
@inherits BlazorPlot


<div>
    <SKCanvasView @ref="SkiaView" OnPaintSurface="OnPaintSurface" IgnorePixelScaling="true"
    @onpointerdown="OnPointerPressed"
    @onpointermove="OnPointerMoved"
    @onpointerup="OnPointerReleased"
    @ondblclick="OnDoubleTapped"
    @onwheel="OnPointerWheelChanged"
    @onkeydown="OnKeyDown"
    @onkeyup="OnKeyUp"
                  style=@Style />
</div>
@code {
    private SKCanvasView SkiaView { get; set; } = new();


    public void OnPaintSurface(SKPaintSurfaceEventArgs e)
    {
        Plot.Render(e.Surface.Canvas, (int)e.Surface.Canvas.LocalClipBounds.Width, (int)e.Surface.Canvas.LocalClipBounds.Height);
    }


    public override void Refresh()
    {
        SkiaView.Invalidate();
        RenderQueue.RefreshAll();
    }

}