<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net48" />
  <package id="SkiaSharp" version="2.80.1" targetFramework="net48" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.1" targetFramework="net48" />
  <package id="SkiaSharp.Views.WindowsForms" version="2.80.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>