# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

strategy:
  matrix:
    linux:
      imageName: 'ubuntu-latest'
      solution: 'src/ScottPlotNoGUI.sln'
    mac:
      imageName: 'macOS-latest'
      solution: 'src/ScottPlotNoGUI.sln'
    windows:
      imageName: 'windows-latest'
      solution: 'src/ScottPlot.sln'

pool:
  vmImage: $(imageName)

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreInstaller@0

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: 'tests/ScottPlotTests.csproj'
    arguments: '--configuration $(buildConfiguration)'